@import url(variables.css);

.galeria {
    display: flex;
    height: 26rem;
    gap: 1rem;
}

.galeria:hover .imagen:not(:hover) {
    opacity: 0.4;
}

.imagen {
    object-fit: cover;
    flex: 1;
    position: relative;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.imagen video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    border-radius: 1rem;
}

.imagen:hover {
    flex: 5;
}

.imagen > .cuerpo {
    visibility: hidden;
    align-content: flex-end;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
}

.imagen:hover > .cuerpo {
    transition-delay: 0.5s;
    visibility: visible;
}

.imagen > .titulo {
    transition-delay: 0.5s;
    visibility: visible;
    align-content: flex-end;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
}

.galeria:hover > .imagen > .titulo {
    transition-delay: -0.5s;
    visibility: hidden;
}